extends ../layout/index
block contenido
  div(class="py-10 px-2 sm:px-0 ")
    h1(class="font-bold my-10 text-neutral-900 text-4xl text-center") Bienes
      span(class="font-normal") Raices
    h2(class="text-center text-2xl font-extrabold")=pagina
    div(class="mt-8")
      div(class="bg-white py-8 px-4 shadow max-w-md w-full mx-auto")
        form(class="space-y-5")(action="")
          div
            label(class="block text-sm uppercase text-gray-500 mb-2 font-bold")(for="nombre") Nombre
            input#nombre(class="w-full px-3 py-2 border-2 border-gray-300 outline-0 focus:border-sky-600 rounded-md placeholder-gray-400")(placeholder="Ingrese su nombre")(type="text")(name="nombre")
          div
            label(class="block text-sm uppercase text-gray-500 mb-2 font-bold")(for="email") Email
            input#email(class="w-full px-3 py-2 border-2 border-gray-300 outline-0 focus:border-sky-600 rounded-md placeholder-gray-400")(placeholder="example@example")(type="email")(name="email")
          div
            label(class="block text-sm uppercase text-gray-500 mb-2 font-bold")(for="pass") Password
            input#pass(class="w-full px-3 py-2 border-2 border-gray-300 outline-0 focus:border-sky-600 rounded-md placeholder-gray-400")(placeholder="*********")(type="password")(name="pass")
          div
            label(class="block text-sm uppercase text-gray-500 mb-2 font-bold")(for="repet_pass") Repetir password
            input#repet_pass(class="w-full px-3 py-2 border-2 border-gray-300 outline-0 focus:border-sky-600 rounded-md placeholder-gray-400")(placeholder="*********")(type="password")(name="repet_pass")
          div(class="flex items-center text-sm justify-between text-gray-500")
            a(href="/auth/login") ¿Ya tienes cuenta? Inicia Sesión
            a(href="/auth/password") ¿Olvidaste tu contraseña?
          input(type="submit", value="Crear Cuenta")(class="w-full cursor-pointer font-bold bg-indigo-600 text-white py-2 hover:bg-indigo-800 transition-all ease-in-out duration-200")